* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2 section h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
}

body,
input {
    font-family: 'Libre Baskerville', serif;
}

header {
    padding: 16px 0;
    background-color: rgb(5, 120, 187);
    color: #ecf0f2;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f2;
    text-decoration: none;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: rgb(24, 130, 230);
}

section {
    color: rgb(9, 39, 46);
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

section h3 {
    margin-bottom: 16px;
}

button {
    background-color: #1571bd;
    color: #fff;
    border-radius: 1%;
    cursor: pointer;
}

.container-produto img {
    max-width: 100%;
}

.container-produto ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    column-gap: 1%;
}



@media screen and (max-width: 767px) {
    .container-produto ul {
        display: grid;
        grid-template-columns: repeat(1, 98%);
        column-gap: 1%;
    }

    section .container {
        display: block;
    }

    .container img {
        display: block;
        width: 90%;
    }

    .sobre {
        display: block;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container-produto ul {
        display: grid;
        grid-template-columns: repeat(2, 44%);
        column-gap: 1%;
    }

    .container img {
        width: 50%;
    }

    .sobre {
        width: 100%;
        display: block;
    }
}
